.idea
.ipynb_checkpoints
DMC2013
hausarbeit
 Naive Bayes.ipynb
__init__.py
add columns.ipynb
Aufgabe Shopdaten-Copy1.ipynb
Exploring Data Plots.ipynb
Feature Selection.ipynb
Feature Selection Naive Bayes.ipynb
new import.ipynb
preparedata.py
StrategischeSysteme.iml
thesis-presentation.pptx
transact_train.txt
Untitled.ipynb
Untitled1.ipynb
__pycache__/
data/unreleveant